.table-wrapper {
    background-color: lightpink;

    height: 70px;
}

.cell {
    background-color: lightcoral;
    border: 1px solid brown;
}

.my-dialog {
    width: 80vw;
    background-color: red;
    border-radius: 0;
}