.grid-window-logo {
  display: grid;
  gap: 5px;

  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;

  width: 300px;
  aspect-ratio:  1/1;
}

.grid-window-logo .red {
  background-color: red;
}

.grid-window-logo .blue {
  background-color: blue;
}

.grid-window-logo .yellow {
  background-color: yellow;
}

.grid-window-logo .green {
  background-color: green;
}